@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

html, body {
	width: 100%;
	height: 100%;
	border: 0;
	display: block;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

#home {
	background-color: #303D73;
	background-size: cover;
	overflow-x: hidden;
}

.text {
	text-align: center;
	color: white;
	width: 100%;
	top: 40%;
	position: absolute;	
	margin: 0 auto;
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 99;
}

.intro {
	font-size: 50px;
}

.highlight {
	color: #059bd8;
}

br {
	display: block;
	content: "";
}

p.text-2{
	margin: 0 auto;
	font-size: 45px;
	padding-bottom: 25px;
}

.navbar-custom, .bg-custom {
	background: #303D73;
	border-bottom: 3px solid #07E6AB;
}

.navbar-nav {
	float:none;
	margin:0 auto;
	display: block;
	text-align: center;
}

.navbar-nav > li {
	display: inline-block;
	float:none;
}

#about {
	height: 300px;
	background-color: white;
}

#portfolio {
	background-color: #FFF2ED;
	padding-bottom: 50px;
}

#projects {
	height: 300px;
	background-color: #8A94BF;
}

#contact {
	color: white;
	height: 400px;
	background-color: #1B2240;
}

h2.title {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 60px;
	font-size: 40px;
}

.back-to-top {
	position: absolute;
	bottom: 60px;
	display: none;
	font-size: 30px;
	width: 50px;
	height: 50px;
	line-height: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
}


footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 30px;
	font-size: 15px;
	text-align: center;
	color: #059bd8;
	background: #303D73;
}

.bth:hover {
	color: white;
}
.btn-group {
	padding-bottom: 20px;
}

.btn-outline {
	color: #059bd8;
	background-color: white;

}

.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
	background: #059bd8;
	color: #FFF;
	border: none;
}

a {
	display: block;
	        padding: 4px 8px;
}

.gallery-image-a {
	display: block;
	height: 250px;
	min-width: 200px;
	background-position: center center;
	transition: ease all 950ms;
	background-repeat: no-repeat;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	background-size: cover;
	background-image: url('https://gamepedia.cursecdn.com/dota2_gamepedia/b/bb/Lich_icon.png?version=7cb34de5d2bb15610cda9474d6c1b306');
}