@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

html, body {
	width: 100%;
	height: 100%;
	border: 0;
	display: block;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

#home {
	background-color: #303D73;
	background-size: cover;
	overflow-x: hidden;
}

.text {
	text-align: center;
	color: white;
	width: 100%;
	top: 40%;
	position: absolute;	
	margin: 0 auto;
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 99;
}

.intro {
	font-size: 50px;
}

.highlight {
	color: #059bd8;
}

br {
	display: block;
	content: "";
}

p.text-2{
	margin: 0 auto;
	font-size: 45px;
	padding-bottom: 25px;
}

button.btn .btn-outline-light {
	border: 5px solid black;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}


.navbar-light, .bg-light {
	background: #303D73;
	border-bottom: 3px solid #DF1B41;
	color: white;
}


.navbar-nav {
	float:none;
	margin:0 auto;
	display: block;
	text-align: center;
}

.navbar-nav > li {
	display: inline-block;
	float:none;
}

.navbar-light .navbar-nav .nav-item .nav-link.active {
    color: #059bd8;
}

.navbar-light .navbar-nav .nav-item .nav-link.hover {
    color: white;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: white;
}

#about {
	background-color: white;
}

#portfolio {
	background-color: #FFF2ED;
	padding-bottom: 50px;
}

#projects {
	height: 300px;
	background-color: #8A94BF;
}

#contact {
	color: white;
	background-color: #1B2240;
}

.img-profile {
	height: 375px;
	margin-bottom: 3rem; 
}

form {
	padding-bottom: 50px;
}

h2.title {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 5px;
	font-size: 40px;
}

.w-75 {
	max-width: 500px;
}

.back-to-top {
	position: absolute;
	bottom: 130px;
	display: none;
	font-size: 30px;
	width: 50px;
	height: 50px;
	line-height: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
	background-color: #07E6AB;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 30px;
	font-size: 15px;
	text-align: center;
	color: #8A94BF;
	background: #303D73;
}

.bth:hover {
	color: white;
}
.btn-group {
	padding-bottom: 20px;
}

.btn-outline {
	color: #059bd8;
	background-color: white;

}

.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
	background: #059bd8;
	color: #FFF;
	border: none;
}

a {
	display: block;
	/*padding: 4px 8px;*/
}

.contact-info {
	text-align: center;
	padding-bottom: 40px;
	margin-top: -20px;
}

.display-left {
	text-align: left;
	display: inline-block;
}

.social {
	font-size: 25px;
	padding: 0;
}

.btn-floating {
	color: #059bd8;
}

.divider {
	border: 2px solid black;
	width: 75px;
	text-align: center;
	margin: 0 auto 60px auto;
}

.divider2 {
	border: 2px solid white;
	width: 75px;
	text-align: center;
	margin: 0 auto 60px auto;
}

.circle-icon {
	background: #1B2240;
	padding: 15px;
	border-radius: 50% !important; 	
}

.social .list-inline li.list-inline-item{
	margin: 0 !important;
}
